<%if @reservations.present?%>
<h1>Reservations for <%= @bus.bus_name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Seat Number</th>
      <th>Booking Date</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.seat.seat_number %></td>
        <td><%= reservation.booking_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<h3>No bookings for this bus   currently</h3>
<%end%>

